<div id="sodo-dashboard">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">八月财务摘要</div>
            <div class="panel-body">
                    <table style="width: 100%">
                        <tr>
                            <td width="550px">
                                <div id="sodo-financial-summary" style="width:90%;height:280px;"></div>
                            </td>
                            <td valign="top">
                                <div class="row" style="border-bottom: 1px solid #DDD;margin-bottom: 0;">
                                    <div class="sodo-summary col-lg-6" style="border-right: 1px solid #DDD;">
                                        <div class="sodo-summary-money sodo-finance-income">589320.34</div>
                                        收入
                                    </div>
                                    <div class="sodo-summary col-lg-5">
                                        <div class="sodo-summary-money sodo-finance-cost">394542.14</div>
                                        成本
                                    </div>
                                </div>
                                <div class="row" style="padding-top:0;">
                                    <div class="sodo-summary col-lg-6" style="border-right: 1px solid #DDD;">
                                        <div class="sodo-summary-money sodo-finance-expenditure">89999.86</div>
                                        费用
                                    </div>
                                    <div class="sodo-summary col-lg-5">
                                        <div class="sodo-summary-money sodo-finance-profit">124778.34</div>
                                        利润
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                <div class="row sodo-expense-summary">
                    <div class="sodo-summary col-lg-2 sodo-border-right">
                        <div class="sodo-summary-money">4323.16</div>
                        <div>
                            <div class="sodo-summary-plan">4000.00</div>
                            <div class="sodo-summary-difference sodo-loss">323.16</div>
                        </div>
                        办公费用
                    </div>
                    <div class="sodo-summary col-lg-2 sodo-border-right">
                        <div class="sodo-summary-money">32341.86</div>
                        <div>
                        <div class="sodo-summary-plan">35000.00</div>
                        <div class="sodo-summary-difference sodo-gain">2658.14</div>
                        </div>
                        市场费用
                    </div>
                    <div class="sodo-summary col-lg-2 sodo-border-right">
                        <div class="sodo-summary-money">33452.96</div>
                        <div>
                        <div class="sodo-summary-plan">40000.00</div>
                        <div class="sodo-summary-difference sodo-gain">6547.04</div>
                        </div>
                        人力费用
                    </div>
                    <div class="sodo-summary col-lg-2 sodo-border-right">
                        <div class="sodo-summary-money">12344.04</div>
                        <div>
                            <div class="sodo-summary-plan">15000.00</div>
                            <div class="sodo-summary-difference sodo-gain">2655.94</div>
                        </div>
                        财务费用
                    </div>
                    <div class="sodo-summary col-lg-2 sodo-border-right">
                        <div class="sodo-summary-money">6999.12</div>
                        <div>
                            <div class="sodo-summary-plan">5000.00</div>
                            <div class="sodo-summary-difference sodo-loss">1999.12</div>
                        </div>
                        其他费用
                    </div>
                    <div class="sodo-summary col-lg-2">
                        <div class="sodo-summary-money" style="color:#666;">89999.86</div>
                        <div>
                            <div class="sodo-summary-plan">99000.00</div>
                            <div class="sodo-summary-difference sodo-gain">9000.14</div>
                        </div>
                        合计
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">八月项目摘要</div>
            <div class="panel-body">
                <div id="sodo-incoming-volume-chart" style="width: 90%; height: 280px"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">年收入曲线</div>
            <div class="panel-body">
                <div id="sodo-incoming-line-chart" style="width:90%;height:280px;"></div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">同比收入统计</div>
            <div class="panel-body">
                <div id="sodo-incoming-bar-chart" style="width:90%; height:280px;"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">费用统计</div>
            <div class="panel-body">
                <div id="sodo-expense-chart" style="width:90%; height:400px;"></div>
            </div>
        </div>
    </div>
</div>

<script src="/scripts/chart.js"></script>


